.cont {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  line-height: 1.5;
  box-shadow: 1px 1px 1px #999;
  list-style-type: none;
  width: 230px;
}

footer, header {
	text-align: center;
}

textarea[name="user-input"]{
	  padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    margin-bottom: 10px;

}

#reset-button {
	text-align: center;
	justify-content: center;
  display: flex;
  flex-direction: row;
     
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
